@font-face {
	font-family: "Helvetica Cyrillic Oblique";
	src: url('fonts/helvetica-cyrillic-oblique/helvetica-cyrillic-oblique.eot'); 
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Helvetica";
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #e2e6e9;
}

.block{
	width: 1139px;
	height: 850px;
	margin: 40px auto;
	padding: 0 40px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

h1{
	font-size: 46px;
	color: #343434;
}

.block_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 40px 70px 20px 70px;
	width: 1053px;
}

.block_header_btn{
	text-decoration: none;
	width: 210px;
	height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	border: 1px solid #E2E6E9;
	cursor: pointer;
	color: #343434;
	font-size: 14px;
	font-weight: 600;
}

.block_product{ 
	width: 1053px;
	height: 400px;
	margin-left: 70px;
}

.block_product__nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 25px;
	color: #919191;
	font-size: 16px;
}

.block_product__nav--product{
	margin-left: 160px;
	width: 380px;
}

.block_product__nav--price,
.block_product__price{
	width: 150px;
	text-align: left;
}

.block_product__nav--qty,
.block_product__qty{
	width: 150px;
	text-align: center;
}

.block_product__nav--total,
.block_product__total{
	width: 140px;
	text-align: center;
}

.container{
	display: inline-flex;
	margin: 10px 0 10px 0;
	justify-content: space-around;
	align-items: center;
}

.block_product__img{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

.block_product__deitals{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	width: 530px;
}

.block_product__deitals div{
	padding-left: 20px;
}

.title{
	padding-top: 25px;
}

.block_product__title{
	color: #343434;
	font-size: 16px;
	font-weight: 600;
}

.block_product__id,
.block_product__descr {
	font-size: 12px;
	font-weight: 600;
	color:#858688;

}

.extra {
	font-size: 14px;
	font-weight: 600;
	color:#6d6d6d;
}

.block_product__price{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	width: 210px;
	height: 120px;
}

.block_product__price--opt,
.block_product__price--sub {
	margin: 7px 0;
	font-size: 12px;
	font-weight: 600;
	color:#858688;
}

.block_product__qty-count{
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
}

.decrement,
.increment,
.number{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
	cursor: pointer;
	outline: none !important;
	border: none;
	background-color: transparent;
	font-size: 20px;
}

input {
	-webkit-appearance: none;
	margin: 0;
	outline: none !important;
	text-decoration: none;
	width: 40px;
	text-align: center;
}

.price{
	font-weight: 500;
	font-size: 18px;  
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
} 

.block_product__qty-count input:focus {
  outline: none !important;
}

.block_product__qty-count button:focus {
  outline: none !important;
} 

.block_product__total{
	width: 140px;
	height: 119px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-weight: 500;
	font-size: 18px;    
}

.modal{
	height: 230px;
	width: 1053px;
	background-color: #edf1f4;
	margin-top: 40px;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.modal_delivery{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	height: 200px;
	width: 370px;
}

.modal_delivery__title{
	padding-top: 20px;
	font-size: 20px;
	font-weight: 600;
}

label {
	position: relative;
	cursor: pointer;
	width: 280px;
}

label input:checked + span{
	color:#000;  
}

label input:checked + span:before {
	background-color: #fb3d46;
	border-color: #fb3d46;
}

label span{
	display: flex;
	align-items: center;
	transition: 0.25s ease;
	position: relative;
	padding-left: 25px; 
  }

label span:hover {
	color: #343434;
}

label span:before, label span:after {
	display: flex;
	flex-direction: row;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transition: 0.25s ease;
	border:  1px solid  #6e7072;
	margin-right: 10px;
	position: absolute;
	left: 0;
  }

  label input:checked + span:after{
	background-color: transparent;
	border-color: transparent;
	color: #edf1f4;
	content: '✔';
	width: 10px;
	height: 14px;
	left: 5px
  }

.modal_delivery__fs{
	font-size: 12px;
	font-weight: 600;
	color: #6e7072;
}

.adress{
	padding-left: 30px;
	font-size: 11px;
	font-weight: 500;
}

.modal_checkout{
	padding-top: 20px;
	height: 200px;
	width: 370px;
	color:#6e7072;
}

.modal_checkout__subtotal,
.modal_checkout__shipping{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 320px;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
}

.modal_checkout__subtotal div,
.modal_checkout__shipping div,
.modal_checkout__total div{
	font-weight: 600;
	color: #343434;
}

.modal_checkout__total{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 320px;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
}

.modal_checkout__btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	margin-top: 25px;
	width: 370px;
	height: 45px;
	border-radius: 10px;
	background-color: #fb3d46;
	border: none;
	color: white;
}

.modal_checkout__btn p, 
.modal_checkout__btn div{
	margin: 0 35px 0 15px;
	font-weight: 600;
	font-size: 18px;
}

hr{
	border: none;
	height: 0.2px;
	background-color: #e2e6e9;
	color: #9e9fa1;
}

